@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://img.freepik.com/free-vector/red-hand-drawn-cherry-seamless-pattern-pink-social-template_53876-116104.jpg");
  text-align: center;
  margin: auto;
   
}

h1{
  font-size: 30px;
  color: white;
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid white;
}



